<%- include('layout/top') %>
<aside class="sidebar">
  <a href="/new-service"><button>Novo Agendamento</button></a>
  <a href="/logout"><button>Sair</button></a>
</aside>

<main class="home-main">
    
</main>
<%- include('layout/bottom') %>