<%- include('layout/top') %>

<div class="login-container">
  <h1 class="login-header">Entre com as credencias</h1>
  <form class="login-form" action="/" method="post">
    <input class="login-input" type="text" name="username" placeholder="Admin" required autofocus autocomplete="off">
    <input class="login-input" type="password" id="password" name="password" placeholder="Senha" required>
    <button class="login-btn">Entrar</button>
  </form>
</div>
<%- include('layout/bottom') %>