<%- include('layout/top') %>
<form action="/" method="post">
  <label for="admin">Admin<input type="text" id="admin" name="admin" required></label>
  <label for="password">Senha<input type="text" id="password" name="password" required></label>
  <button>Entrar</button>
</form>
<%- include('layout/bottom') %>