<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <title>Ateliê da Rose</title>
</head>

<body>
  <div class="header-container">
    <header>
      <h1 class="main-heading"><i>Ateliê </i><span class="heading-span">da Rose</span></h1>
    </header>
  </div>