<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-r7D5/y0G0eM3WZTlsg1Pm5ZPynmf60FQ4b1zJk5G/sJox+OGBaPQZ0E0q6/BJTXg" crossorigin="anonymous">
  <title>Ateliê da Rose</title>
</head>

<body>